.container{
  height:100vh;
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.increment{
  height:100px;
  width:100px;
  color:white;
  background-color: black;
}
.decrement{
  height:100px;
  width:100px;
  color:white;
  background-color: black;
}